IMMICH_API_URL=http://immich.local:2283
IMMICH_API_KEY=your-immich-api-key

#IMMICH_GO_PATH=immich-go
#TDL_PATH=tdl
#MEDIA_PATH=.data/media
#LOG_PATH=.data/logs
#CONFIG_PATH=.data/config/tg-to-immich.yaml
